/*global styles*/

:root {
    --primaryColor: #1492E6;
}

body {
    font-family: "Poppins", sans-serif;
}


/*navbar styles*/

.center-block-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 9.2vh;
    background-color: #1b1a1b !important;
}

.sticky {
    opacity: 1;
    z-index: 100;
    padding-left: 3rem;
    padding-right: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: all 0.2s ease-in;
    box-shadow: 0 2px 9px 5px #00000029;
}

.navbar .navbar-brand {
    font-size: 1.06rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-brand>div:nth-child(2) {
    margin-left: 0.6rem;
}

a.nav-link {
    font-weight: normal;
    font-size: 0.85rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: var(--primaryColor);
}

a.nav-link:hover {
    color: var(--primaryColor);
}


/*carousel styles*/

.carousel li {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #707070;
}

.carousel-indicators .active {
    background-color: var(--primaryColor);
}

.carousel-indicators li {
    background-color: white;
}

.carousel-item {
    height: 25rem;
    background: #777;
    color: white;
    background-size: cover;
    background-position: center;
}

.carousel-item .container {
    position: absolute;
    max-width: 30rem;
    margin-left: initial;
    top: 5rem;
    left: 8rem;
    background-position: center;
    background-size: cover;
}

.carousel-item .container h1 {
    font-size: 2rem;
    font-weight: 500;
}


/*video styles*/

.video-container {
    width: 100%;
}

.video {
    width: 100%;
}

.c-video {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.c-video:hover .controls {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.8);
}

.controls {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 0.4rem;
    width: 100%;
    flex-wrap: wrap;
    background-color: transparent;
    transform: translateY(100%) translateY(-0.5rem);
    transition: all 0.2s;
}

.controls .time {
    font-weight: normal;
    font-size: 0.8rem;
    color: white;
    margin-left: auto;
    margin-right: 0.8rem;
    display: flex;
    flex-direction: row;
}


/* Style the header: fixed position (always stay at the top) */

.header {
    position: fixed;
    top: 9.2vh;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}


/* The progress container (grey background) */

.progress-container {
    width: 100%;
    height: 8px;
    background: #1b1a1b;
}


/* The progress bar (scroll indicator) */

.progress-bar {
    height: 8px;
    background: var(--primaryColor);
    width: 0%;
}

.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
}


/* .buttons button::before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #fff;
    -webkit-font-smoothing: antialisased;
} */

.video-progress-bar {
    height: 8px;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0.3rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.video-total-progress {
    height: 8px;
    width: 100%;
    background-color: var(--primaryColor);
}


/*main advert container styles*/

.main-advert-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.contain-title {
    color: white;
    margin-top: 4rem;
    height: 8rem;
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
    display: flex;
    align-items: center;
}

.contain-title-normal-background {
    background-color: #19181bed !important;
}

.contain-title .shaped {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 49%);
    position: absolute;
    width: 100%;
    top: 0;
    height: 18rem;
    background-color: #19181bed !important;
    z-index: -1;
}

.contain-description {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-title {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}


/*explanations stles */

.explanations {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.explanations .explanation-item svg path {
    fill: #28a745b8;
}

.explanation-item {
    display: flex;
    font-weight: normal;
    width: 20rem;
}

.explanation-item>div {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explanation-number {
    font-size: 3rem;
}

.explanation-description {
    font-size: 1.16rem;
}


/*checkbox styles*/

.checkmark {
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.4s;
}

.check:checked~.checkmark {
    background-color: var(--primaryColor);
}

.checkmark::after {
    content: "";
    position: absolute;
    width: 0.7rem;
    height: 1.4rem;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg);
    opacity: 0.7;
    transition: all .4s;
}

.check:checked~.checkmark::after {
    opacity: 1;
}


/*styles for criteria form*/

.criteria-form {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.criteria-form>div {
    margin-right: 1rem;
}

.criteria-form-item {
    display: flex;
    flex-direction: row;
}

.criteria-form-item>div {
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*slider styles*/

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    position: relative;
    width: 50%;
    max-width: 500px;
    width: 25rem;
}

.slider {
    position: relative;
    z-index: 1;
    height: 0.6rem;
    margin: 0 15px;
}

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #1492e633;
}

.slider>.range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: var(--primaryColor);
}

.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--primaryColor);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98, 0, 238, .1);
    transition: box-shadow .3s ease-in-out;
}

.slider>.thumb.left {
    left: 25%;
    transform: translate(-0.9rem, -0.3rem);
}

.slider>.thumb.right {
    right: 25%;
    transform: translate(0.9rem, -0.3rem);
}

.slider>.thumb.hover {
    box-shadow: 0 0 0 20px rgba(98, 0, 238, .1);
}

.slider>.thumb.active {
    box-shadow: 0 0 0 40px rgba(98, 0, 238, .2);
}

.slider-container .values {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


/*contacts styles */

.contain-title-contact {
    margin-top: 0rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.contact-container .infos-container {
    font-weight: normal;
    font-size: 0.9rem;
}

.infos-container>div {
    margin-bottom: 0.3rem;
}


/*partners styles*/

.partners {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.partners>div {
    width: 15rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*advert items tyles */

.adverts-container {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.advert-item {
    width: 20rem;
    height: 22rem;
    box-shadow: 0 2px 6px #0000001a;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all ease-in .2s;
    margin-bottom: 4rem;
}

.advert-item>div {
    width: 100%;
}

.advert-item:hover {
    transform: scale(1.01);
}

.advert-item>div:nth-child(1) {
    flex: 2.1;
}

.advert-item>div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}

.advert-item>div:nth-child(2)>div {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.advert-item>div:nth-child(2)>div svg {
    width: 1.3rem;
    height: 1.3rem;
}

.advert-item>div:nth-child(2)>div svg path {
    fill: #00000042;
}

.advert-item>div:nth-child(2)>div:nth-child(1) {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advert-item>div:nth-child(2)>div:nth-child(2) {
    flex: 1.3;
    text-transform: uppercase;
    font-weight: 600;
}

.advert-item>div:nth-child(2)>div:nth-child(3) {
    font-size: 0.84rem;
    flex: 2;
}

.advert-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advert-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 14.5rem;
    object-position: center;
}


/*advert modal styles*/

.modal-advert {
    max-width: 70rem;
    ;
}

.modal-advert .modal-content {
    height: 35rem;
}

.modal-advert .modal-body {
    padding: 0rem;
}


/*modal advert styles */

.advert-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.advert-content>div {
    flex: 1;
}

.advert-content>div:nth-child(1) {
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    align-items: center;
}

.modal-header span {
    margin-left: 0.3rem;
}

#advertImg {
    /* width: 100%; */
    height: 26.7rem;
}

#advertImg img {
    width: 100%;
}

.questionnaire-instruction {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions {
    overflow: scroll;
    height: 26.5rem;
}

.question-item {
    margin-bottom: 1rem;
}

.question-item .possibilite {
    flex: 1;
}


/*preloader styles */

.preloader {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    display: flex;
    align-items: center;
}

#preloader-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loading-msg {
    width: 100%;
    font-size: 0.75em;
    color: #555;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #2489CE;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite ease;
}

#loading-msg {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #333;
    font-size: 0.8em;
    font-weight: 600;
    animation: fade 1s infinite ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
    75% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}


/*big loader styles */

#big-loader {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 5em
}

#big-loader:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 8s linear infinite;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}


/*small loader */


/* .load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
} */


/* .load-wrapp p {
    padding: 0 0 20px;
} */

.load-wrapp:last-child {
    margin-right: 0;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}


/*finalising steps items*/

#finalising-steps {
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-informations-container {
    width: 26rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.social-container {
    height: 83%;
    margin-left: 2rem;
}

.social-network-container {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.social-network-container div>svg {
    width: 2.5rem;
}

.social-network-container div>svg path {
    transition: all ease-in .2s;
}

.social-network-container div>svg:hover {
    cursor: pointer;
}

.social-network-container div>svg:hover path {
    fill: var(--primaryColor);
}

.label-card {
    display: inline-block;
    background-color: var(--primaryColor);
    color: white;
    border-radius: 0.3rem;
    margin: 0rem 0.5rem;
    padding: 0.3rem 0.5rem;
}


/*styles for statistics buble*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
#statistics-buble {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 17rem;
    height: 7rem;
}

#statistics-buble h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: #fcfcfc;
    padding-bottom: 5px;
    text-transform: uppercase;
}

#statistics-buble .green {
    color: #4ec07d;
}

#statistics-buble .red {
    color: #e96075;
}

#statistics-buble .alert {
    font-weight: 600;
    letter-spacing: 1px;
}

#statistics-buble p {
    margin-top: -19px;
    font-size: 0.7rem;
    font-weight: 100;
    color: #5e5e5e;
    letter-spacing: 1px
}

#statistics-buble button,
#statistics-buble .dot {
    cursor: pointer;
}

#statistics-buble #success-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #1488CC 40%, #99dbb4 100%);
    border-radius: 20px;
    perspective: 40px;
}

#statistics-buble #error-box {
    position: absolute;
    width: 35%;
    height: 100%;
    right: 12%;
    background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
}

#statistics-buble .dot {
    width: 8px;
    height: 8px;
    background: #fcfcfc;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}

#statistics-buble .dot:hover {
    background: #c9c9c9;
}

#statistics-buble .two {
    right: 12%;
    opacity: 0.5;
}

#statistics-buble .face {
    position: absolute;
    width: 22%;
    height: 50%;
    background: #fcfcfc;
    border-radius: 50%;
    border: 1px solid #777;
    top: 22%;
    left: 5.5%;
    z-index: 2;
    animation: bounce 1s ease-in infinite;
}

#statistics-buble .face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #fcfcfc;
    border-radius: 50%;
    border: 1px solid #777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: roll 3s ease-in-out infinite;
}

#statistics-buble .eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
}

#statistics-buble .right {
    left: 68%;
}

#statistics-buble .mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#statistics-buble .happy {
    border: 2px solid;
    border-color: transparent #777 #777 transparent;
    transform: rotate(45deg);
}

#statistics-buble .sad {
    top: 49%;
    border: 2px solid;
    border-color: #777 transparent transparent #777;
    transform: rotate(45deg);
}

#statistics-buble .shadow {
    position: absolute;
    width: 21%;
    height: 8%;
    opacity: 0.5;
    background: #777;
    left: 7%;
    top: 71%;
    border-radius: 50%;
    z-index: 1;
}

#statistics-buble .scale {
    animation: scale 1s ease-in infinite;
}

#statistics-buble .move {
    animation: move 3s ease-in-out infinite;
}

#statistics-buble .message {
    position: absolute;
    width: 80%;
    text-align: center;
    height: 26%;
    top: 29%;
    left: 22%;
}

#statistics-buble .button-box {
    position: absolute;
    background: #fcfcfc;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, .5);
    transition: all 0.5s ease-in-out;
}

#statistics-buble .button-box:hover {
    background: #efefef;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes scale {
    50% {
        transform: scale(0.9);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
        left: 25%;
    }
    50% {
        left: 60%;
        transform: rotate(168deg);
    }
    100% {
        transform: rotate(0deg);
        left: 25%;
    }
}

@keyframes move {
    0% {
        left: 25%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: 25%;
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

footer p {
    color: #ef8d9c;
    letter-spacing: 2px;
}

footer a {
    color: #b0db7d;
    text-decoration: none;
}

footer a:hover {
    color: #ffc39e;
}

.footer {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 4rem 0rem;
    flex-wrap: wrap;
}

.footer-item {
    margin-bottom: 1.5rem;
}

.footer-more>div>div,
.footer-item>div>div {
    margin: 1.3rem 0rem;
}

.footer-more>div>div {
    margin-top: 0rem;
}

.footer .footer-item-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.footer .footer-news-item {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed;
    padding-bottom: 1rem;
}

.footer .footer-news-item>div {
    text-transform: uppercase;
}

.footer .footer-news-item>div:nth-child(1) {
    margin-right: 1rem;
}

.footer .footer-news-item>div:nth-child(2)>div:nth-child(1) {
    font-weight: 600;
}

.footer .footer-news-item>div:nth-child(2)>div:nth-child(2) {
    font-size: 0.8rem;
    font-weight: 300;
}


/*some modifications*/

#statistics-buble {
    position: absolute;
    z-index: 50;
    top: 17rem;
    transition: all ease-in-out .7s;
}

.translator {
    transform: translate(100%, 0px);
}

@media screen and (max-width:1020px) {
    .navbar-collapse.collapse {
        opacity: 0;
        transition: all ease-in-out .7s;
        display: none!important;
    }
    .collapse {
        transition: all ease-in-out .7s;
        opacity: 0;
    }
    .navbar-collapse.collapse.show {
        display: block!important;
        opacity: 1;
        transition: all ease-in .8s;
    }
    div#navbarNavDropdown {
        position: absolute;
        width: 100%;
        top: 0px;
        bottom: 0px;
        left: 0;
        height: 15rem;
        display: flex;
        z-index: 18;
        align-items: center;
        justify-content: center;
        margin-top: 9.2vh;
        background-color: #222222;
        padding: 2rem;
    }
    div#navbarNavDropdown>ul {
        margin-left: 0px!important;
        width: 100%;
    }
    div#navbarNavDropdown>ul>li {
        text-align: center;
    }
    div#navbarNavDropdown>ul>li a {
        font-size: 1.1rem;
        border-top: 1px solid #4b4b4b3b;
    }
    div#navbarNavDropdown>ul>li a:last-child {
        border-bottom: 1px solid #4b4b4b3b;
    }
    .footer-news {
        padding: 0rem 3rem;
    }
    .pricing-text-2 {
        padding: 0rem 3rem;
    }
    .contain-title.contain-tips {
        height: fit-content;
    }
    .explanations {
        justify-content: center;
        width: 90%
    }
    .explanation-item {
        align-self: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .icon svg {
        width: 2rem;
    }
    .explanation-number {
        font-size: 2rem;
    }
    .explanation-description {
        font-size: 1rem;
    }
    .criteria-form-item:nth-child(3) {
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0rem;
    }
    .criteria-form-item:nth-child(3) .form-label {
        margin-top: 1.5rem;
    }
    .slider-container {
        flex-wrap: wrap;
    }
    .middle {
        width: 19rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .contain-description h4 {
        text-align: center;
    }
    .carousel-item .container {
        left: 1rem;
        max-width: 20.5rem;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .carousel-item .container h1 {
        font-size: 1.8rem;
    }
    .main-advert-container {
        width: 98%;
    }
    .advert-content {
        flex-direction: column;
        padding-top: 1rem;
    }
    .questions {
        padding: 1rem;
        padding-top: 0rem;
        width: 100%;
    }
    .modal-advert .modal-content {
        height: 39rem;
    }
    #advertVideo .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .advert-content>div:nth-child(1) {
        flex: 0.7;
    }
    .advert-content {
        max-height: 30rem;
    }
    .question-item h6 {
        word-break: break-word;
    }
    #advertImg {
        height: 13.7rem
    }
    .question-item>div {
        flex-direction: column !important;
    }
    .fill-informations-container {
        margin-top: -1rem;
    }
}
