<div class="footer contain-title-normal-background">
    <div>
        <div class="footer-item-title">
            REJOIGNEZ-NOUS
        </div>
        <div>
            <div>
                L'Equipe
            </div>
            <div>
                L'Etrepise
            </div>
        </div>
    </div>
    <div>
        <div class="footer-item-title">
            NOUVEAUTES
        </div>
        <div>
            <div>
                <div>fdsfds</div>
                <div>
                    <div>
                        Les tarifs sont fixés à un prix optimal!!
                    </div>
                    <div>
                        9 Novembre 2020
                    </div>
                </div>
            </div>
            <div>
                <div>drfsdfsdf</div>
                <div>
                    <div>
                        Mis à jour des publicités
                    </div>
                    <div>
                        1 Novembre 2020
                    </div>
                </div>
            </div>
            <div>
                <div>drfsdfsdf</div>
                <div>
                    <div>
                        Désormais dispo à l'ouest
                    </div>
                    <div>
                        3 Octorbre 2020
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="footer-item-title">
                GENERAL
            </div>
            <div>
                Termes et Contrat d'utilisation
            </div>
            <div>
                FAQ
            </div>
            <div>
                Contacts
            </div>
        </div>
        <div>
            <div class="footer-item-title">
                FOLLOW
            </div>
            <div class="social-network-container">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" fill="#FFFFFF">
                        <path
                            d="M12 2C6.4889971 2 2 6.4889971 2 12C2 17.511003 6.4889971 22 12 22C17.511003 22 22 17.511003 22 12C22 6.4889971 17.511003 2 12 2 z M 12 4C16.430123 4 20 7.5698774 20 12C20 16.014467 17.065322 19.313017 13.21875 19.898438L13.21875 14.384766L15.546875 14.384766L15.912109 12.019531L13.21875 12.019531L13.21875 10.726562C13.21875 9.7435625 13.538984 8.8710938 14.458984 8.8710938L15.935547 8.8710938L15.935547 6.8066406C15.675547 6.7716406 15.126844 6.6953125 14.089844 6.6953125C11.923844 6.6953125 10.654297 7.8393125 10.654297 10.445312L10.654297 12.019531L8.4277344 12.019531L8.4277344 14.384766L10.654297 14.384766L10.654297 19.878906C6.8702905 19.240845 4 15.970237 4 12C4 7.5698774 7.5698774 4 12 4 z"
                            fill="#FFFFFF" />
                    </svg>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" fill="#56ABEE">
                        <path style="fill:white"
                            d="M24 4.300781C23.101563 4.699219 22.199219 5 21.199219 5.101563C22.199219 4.5 23 3.5 23.398438 2.398438C22.398438 3 21.398438 3.398438 20.300781 3.601563C19.300781 2.601563 18 2 16.601563 2C13.898438 2 11.699219 4.199219 11.699219 6.898438C11.699219 7.300781 11.699219 7.699219 11.800781 8C7.699219 7.800781 4.101563 5.898438 1.699219 2.898438C1.199219 3.601563 1 4.5 1 5.398438C1 7.101563 1.898438 8.601563 3.199219 9.5C2.398438 9.398438 1.601563 9.199219 1 8.898438C1 8.898438 1 8.898438 1 9C1 11.398438 2.699219 13.398438 4.898438 13.800781C4.5 13.898438 4.101563 14 3.601563 14C3.300781 14 3 14 2.699219 13.898438C3.300781 15.898438 5.101563 17.300781 7.300781 17.300781C5.601563 18.601563 3.5 19.398438 1.199219 19.398438C0.800781 19.398438 0.398438 19.398438 0 19.300781C2.199219 20.699219 4.800781 21.5 7.5 21.5C16.601563 21.5 21.5 14 21.5 7.5C21.5 7.300781 21.5 7.101563 21.5 6.898438C22.5 6.199219 23.300781 5.300781 24 4.300781"
                            fill="#56ABEE" />
                    </svg>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" fill="#FFFFFF">
                        <path
                            d="M5 3C3.895 3 3 3.895 3 5L3 19C3 20.105 3.895 21 5 21L19 21C20.105 21 21 20.105 21 19L21 5C21 3.895 20.105 3 19 3L5 3 z M 5 5L19 5L19 19L5 19L5 5 z M 7.7792969 6.3164062C6.9222969 6.3164062 6.4082031 6.8315781 6.4082031 7.5175781C6.4082031 8.2035781 6.9223594 8.7167969 7.6933594 8.7167969C8.5503594 8.7167969 9.0644531 8.2035781 9.0644531 7.5175781C9.0644531 6.8315781 8.5502969 6.3164062 7.7792969 6.3164062 z M 6.4765625 10L6.4765625 17L9 17L9 10L6.4765625 10 z M 11.082031 10L11.082031 17L13.605469 17L13.605469 13.173828C13.605469 12.034828 14.418109 11.871094 14.662109 11.871094C14.906109 11.871094 15.558594 12.115828 15.558594 13.173828L15.558594 17L18 17L18 13.173828C18 10.976828 17.023734 10 15.802734 10C14.581734 10 13.930469 10.406562 13.605469 10.976562L13.605469 10L11.082031 10 z"
                            fill="#FFFFFF" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>